[submodule "external/GRiD"]
	path = external/GRiD
	url = https://github.com/A2R-Lab/GRiD
	fetchRecurseSubmodules = true
[submodule "external/AnDRLib"]
	path = external/AnDRLib
	url = https://github.com/CoMMALab/AnDRLib.git
