[submodule "external/GRiD"]
	path = external/GRiD
	url = https://github.com/A2R-Lab/GRiD
	fetchRecurseSubmodules = true
[submodule "external/vamp"]
	path = external/vamp
	url = https://github.com/CoMMALab/vamp.git
